In [1]:
# データ処理のライブラリ
import pandas as pd
import numpy as np 
 
# データ可視化のライブラリ
import matplotlib.pyplot as plt
 
# 機械学習ライブラリ
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [3]:
# graphvizのインポート
import graphviz
 
# バージョンの確認
print(graphviz.__version__)

0.13.2

In [4]:
# CSVファイルの読み込み
df = pd.read_csv('usd_jpy_api.csv')

In [5]:
df.tail()

                    time    close     open     high      low  volume
495  2018/07/17 06:00:00  112.908  112.320  112.933  112.231   19645
496  2018/07/18 06:00:00  112.866  112.914  113.144  112.723   17432
497  2018/07/19 06:00:00  112.501  112.887  113.187  112.072   26697
498  2018/07/20 06:00:00  111.474  112.504  112.631  111.401   33445
499  2018/07/23 06:00:00  111.164  111.420  111.523  110.760   16040

In [6]:
# 翌日終値 - 当日終値で差分を計算
df['close+1'] = df.close.shift(-1)
df['diff'] = df['close+1'] - df['close']
df = df[:-1]
 
# 最後の5行を確認
df.tail()

,time,close,open,high,low,volume,close+1,diff
494,2018/07/16 06:00:00,112.320,112.252,112.570,112.235,12518,112.908,0.588
495,2018/07/17 06:00:00,112.908,112.320,112.933,112.231,19645,112.866,-0.042
496,2018/07/18 06:00:00,112.866,112.914,113.144,112.723,17432,112.501,-0.365
497,2018/07/19 06:00:00,112.501,112.887,113.187,112.072,26697,111.474,-1.027
498,2018/07/20 06:00:00,111.474,112.504,112.631,111.401,33445,111.164,-0.310

In [7]:
# 上昇と下降のデータ割合を確認
m = len(df['close'])
print(len(df[(df['diff'] > 0)]) / m * 100)
print(len(df[(df['diff'] < 0)]) / m * 100)

50.70140280561122
49.298597194388776

In [8]:
# 上昇したら「1」、下降したら「0」へデータを変換
mask1 = df['diff'] > 0
mask2 = df['diff'] < 0
column_name = 'diff'
df.loc[mask1, column_name] = 1
df.loc[mask2, column_name] = 0
 
# 最初の5行を表示
df.head()

,time,close,open,high,low,volume,close+1,diff
0,2016/08/19 06:00:00,100.256,99.919,100.471,99.887,30965,100.335,1.0
1,2016/08/22 06:00:00,100.335,100.832,100.944,100.221,32920,100.253,0.0
2,2016/08/23 06:00:00,100.253,100.339,100.405,99.950,26069,100.460,1.0
3,2016/08/24 06:00:00,100.460,100.270,100.619,100.104,22340,100.546,1.0
4,2016/08/25 06:00:00,100.546,100.464,100.627,100.314,17224,101.876,1.0

In [9]:
# カラム名をtagertへ変換
df.rename(columns={"diff" : "target"}, inplace=True)
 
# 不要なカラムを削除
del df['time']
del df['close+1']
 
# カラムの並び替え
df = df[['target', 'close', 'open', 'high', 'low', 'volume']]
 
# 最初の5行を出力
df.head()

   target    close     open     high      low  volume
0     1.0  100.256   99.919  100.471   99.887   30965
1     0.0  100.335  100.832  100.944  100.221   32920
2     1.0  100.253  100.339  100.405   99.950   26069
3     1.0  100.460  100.270  100.619  100.104   22340
4     1.0  100.546  100.464  100.627  100.314   17224

In [11]:
# データセットの行数、列数を取得
n = df.shape[0]
p = df.shape[1]
 
# 訓練データとテストデータへ分割
train_start = 0
train_end = int(np.floor(0.8*n))
test_start = train_end + 1
test_end = n

In [40]:
print(train_start, train_end)
print(test_start, test_end)

0 399
400 499

In [51]:
data_train = df.loc[np.arange(train_start, train_end), :]
data_test = df.loc[np.arange(test_start, test_end), :]
 
# 訓練データとテストデータのサイズを確認
print(data_train.shape)
print(data_test.shape)

(399, 6)
(99, 6)

In [79]:
# 特徴量とターゲットにデータを切り分け
X_train = data_train.iloc[:,1]
y_train = data_train.iloc[:, 0]
X_test = data_test.iloc[:, 1]
y_test = data_test.iloc[:, 0]

In [82]:
X_train = np.array(X_train)
y_train = np.array(y_train)

In [83]:
# 決定技モデルの訓練
clf_2 = DecisionTreeClassifier(max_depth=2)
clf_2 = clf_2.fit(X_train, y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[100.256 100.335 100.253 100.46  100.546 101.876 101.928 102.983 103.434
 103.246 103.992 103.461 102.034 101.752 102.5   102.745 101.86  102.569
 102.441 102.102 102.301 101.939 101.733 100.349 100.778 101.05  100.346
 100.453 100.705 101.064 101.403 101.665 102.919 103.513 103.969 102.953
 103.624 103.529 104.223 103.712 104.209 103.898 103.875 103.458 103.964
 103.856 104.195 104.235 104.49  105.299 104.758 104.838 104.172 103.322
 102.989 103.164 104.494 105.199 105.678 106.85  106.733 108.441 109.216
 109.095 110.165 110.961 110.873 111.164 112.547 113.378 113.303 111.946
 112.41  114.475 114.116 113.565 113.877 114.036 113.78  114.047 115.37
 115.039 115.2   117.06  118.202 117.963 117.117 117.892 117.575 117.564
 117.383 117.437 117.278 116.555 117.067 117.761 117.264 115.382 117.032
 116.073 115.788 115.426 114.736 114.548 114.222 112.625 114.646 114.877
 114.635 112.713 113.801 113.306 114.551 115.144 113.791 112.813 113.268
 112.818 112.646 111.756 112.416 111.944 113.267 113.277 113.747 114.279
 114.165 113.255 112.859 113.129 113.693 113.334 112.637 112.179 112.701
 112.803 113.737 114.418 114.055 113.906 113.991 114.399 114.977 114.808
 114.89  114.758 113.393 113.319 112.756 112.569 111.734 111.169 110.942
 111.355 110.678 111.153 111.06  111.935 111.406 110.912 110.749 110.707
 110.816 111.101 110.943 109.618 109.035 109.117 108.696 108.913 108.446
 108.865 109.324 109.117 109.782 111.115 111.079 111.274 111.559 111.85
 112.003 112.773 112.474 112.736 113.266 114.033 114.298 113.874 113.368
 113.82  113.13  110.854 111.497 111.272 111.303 111.798 111.5   111.846
 111.354 111.285 110.876 110.794 111.382 110.437 110.487 109.433 109.832
 110.046 110.344 109.955 110.075 109.59  110.963 110.937 111.554 111.483
 111.39  111.332 111.349 111.879 112.359 112.323 112.177 112.462 113.409
 113.303 113.267 113.231 113.978 114.049 113.951 113.182 113.293 112.554
 112.633 112.09  111.971 111.938 111.16  111.114 111.901 111.198 111.288
 110.733 110.267 110.39  110.752 110.059 110.732 110.757 110.343 110.088
 109.22  109.228 109.646 110.692 110.203 109.583 109.234 108.992 109.592
 109.052 109.571 109.393 109.265 109.775 110.264 109.989 110.299 109.747
 108.824 109.252 108.475 107.868 109.411 110.179 110.502 110.272 110.866
 111.584 111.608 112.221 112.509 112.023 111.756 112.26  112.847 112.365
 112.572 112.8   112.875 112.784 112.847 112.711 112.696 112.711 112.476
 112.522 112.316 111.909 112.221 112.23  112.962 112.569 113.574 113.558
 113.458 113.943 113.771 114.016 113.748 113.206 113.663 114.208 114.106
 114.122 113.735 114.028 113.896 113.493 113.593 113.651 113.484 112.899
 113.085 112.186 112.65  112.477 111.247 111.253 111.579 111.133 111.514
 111.959 112.563 112.316 112.438 112.634 112.316 113.112 113.522 113.592
 113.571 112.569 112.428 112.662 112.571 112.91  113.431 113.36  113.334
 113.262 113.386 112.902 112.736 112.32  112.536 112.777 113.097 113.121
 112.682 111.463 111.301 111.086 110.577 110.491 111.332 111.146 110.858
 110.968 110.332 109.258 109.442 108.651 108.984 108.807 109.206 109.436
 110.206 109.165 109.587 109.376 108.774 108.842 108.684 107.842 107.037
 106.154 106.334 106.623 107.355 107.801 106.779 106.916 106.972 107.351
 106.698 106.271 105.783].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.